<page-header title="模板详情" [breadcrumb]="breadcrumb" [action-group]="false" [back]="true">
    <ng-template #breadcrumb>
        <ql-breadcrumb>
            <ql-breadcrumb-item>筛选模板</ql-breadcrumb-item>
            <ql-breadcrumb-item>模板详情</ql-breadcrumb-item>
        </ql-breadcrumb>
    </ng-template>
</page-header>

<page-container>
    <ql-card header="模板信息">
        <div ql-row>
            <div ql-col [span]="8" class="rightcss">
                <span>模板名称：</span>
                <span>理财通用模板</span>
            </div>
            <div ql-col [span]="8" class="rightcss">
                <span>创建时间：</span>
                <span>2019-08-30</span>
            </div>
            <div ql-col [span]="8" class="rightcss">
                <span>创建机构：</span>
                <span>兴业银行高新六路支行</span>
            </div>
            <div ql-col [span]="8" class="rightcss">
                <span> 创建人：</span>
                <span> 王文童</span>
            </div>
            <div ql-col [span]="8" class="rightcss">
                <span>共享范围：</span>
                <span>支行共享</span>
            </div>
            <div ql-col [span]="8" class="rightcss">
                <span>模板状态：</span>
                <span>创建中</span>
            </div>
        </div>
    </ql-card>
    <ql-card header="筛选客户基本属性">
        <div ql-row>
            <div ql-col [span]="8" class="rightcss">
                <span>客户标签：</span>
                <span>商旅客户，理财达人，潜力价值客户</span>
            </div>
            <div ql-col [span]="8" class="rightcss">
                <span>客户AUM：</span>
                <span>1.2万</span>
            </div>
            <div ql-col [span]="8" class="rightcss">
                <span>创建机构：</span>
                <span>兴业银行高新六路支行</span>
            </div>
            <div ql-col [span]="8" class="rightcss">
                <span> 创建人：</span>
                <span> 王文童</span>
            </div>
            <div ql-col [span]="8" class="rightcss">
                <span>共享范围：</span>
                <span>支行共享</span>
            </div>
            <div ql-col [span]="8" class="rightcss">
                <span>模板状态：</span>
                <span>创建中</span>
            </div>
        </div>
    </ql-card>
</page-container>
