<page-container>
    <ql-form [inline]="true">
        <ql-card header="标签管理属性">
            <div class="row">
                <ql-form-item ql-col span="24" label="标签状态：" label-width="110px">
                    <ql-select>
                        <ql-option label="开启" value="开启"></ql-option>
                    </ql-select>
                </ql-form-item>
                <ql-form-item ql-col span="24" label="标签更新频率：">
                    <ql-select>
                        <ql-option label="一月更新一次" value="一月更新一次"></ql-option>
                        <ql-option label="一季度更新一次" value="一季度更新一次"></ql-option>
                        <ql-option label="半年更新一次" value="半年更新一次"></ql-option>
                    </ql-select>
                </ql-form-item>
                <ql-form-item ql-col span="24" label="标签共享范围：">
                    <ql-select>
                        <ql-option label="支行共享" value="支行共享"></ql-option>
                        <ql-option label="中心支行共享" value="中心支行共享"></ql-option>
                        <ql-option label="私有" value="私有"></ql-option>
                        <ql-option label="所有人共享" value="所有人共享"></ql-option>
                    </ql-select>
                </ql-form-item>
            </div>
        </ql-card>
    </ql-form>
</page-container>
