<page-header title="创建探索" [breadcrumb]="breadcrumb" [action]="action" [back]="true">
  <ng-template #breadcrumb>
    <ql-breadcrumb>
      <ql-breadcrumb-item>营销管理</ql-breadcrumb-item>
      <ql-breadcrumb-item>目标探索</ql-breadcrumb-item>
      <ql-breadcrumb-item>创建探索</ql-breadcrumb-item>
    </ql-breadcrumb>
  </ng-template>
  <ng-template #action>
    <ql-button type="primary">提交</ql-button>
    <ql-button type="primary">保存</ql-button>
  </ng-template>
</page-header>

<page-container></page-container>
