<div ql-row type="flex">
  <ql-tree (modelChange)="onCatalogChange($event)" [accordion]="true" [model]="catalogList" ql-col span="6"></ql-tree>
  <data-table #table ql-col span="18" [model]="productList" [selection]="true">
    <ql-table-column model-key="productName" label="产品名称"></ql-table-column>
    <ql-table-column model-key="productCode" label="产品代码"></ql-table-column>
    <ql-table-column model-key="productType" label="产品类别"></ql-table-column>
    <ql-table-column model-key="riskLevel" label="风险等级"></ql-table-column>
    <ql-table-column model-key="recommandType" label="推荐类别"></ql-table-column>
    <ql-table-column model-key="endTime" label="停售时间"></ql-table-column>
    <ql-table-column model-key="productRate" label="产品利率"></ql-table-column>
  </data-table>
</div>
<div class="text-center ql-margin">
  <ql-button type="primary" (click)="modalRef.close(table.getSelections())" class="ql-padding-x">添加</ql-button>
  <ql-button type="primary" (click)="modalRef.close()" class="ql-padding-x">取消</ql-button>
</div>
