<div class="app-modal-mask"></div>
<div #modalContainer class="app-modal-container row middle-span center-span" role="document">
  <div class="app-modal-body" [ngClass]="bodyClass">
    <div *ngIf="header" class="app-modal-header row between-span top-span">
      <div>{{ title }}</div>
      <div class="close-btn" (click)="closeDialog()">
        <i class="ql-icon-close"></i>
      </div>
    </div>
    <div style="position: relative">
      <ng-container #container [ngTemplateOutlet]="content"></ng-container>
    </div>
  </div>
</div>
