<div class="app-modal-mask" (click)="closeDialog()"></div>
<div class="app-modal-container row middle-span center-span" role="document" (click)="closeDialog()">
  <div class="app-modal-body" [ngClass]="bodyClass" (click)="$event.stopPropagation()">
    <div *ngIf="header" class="app-modal-header row between-span top-span">
      <div>{{ title }}</div>
      <div class="close-btn" (click)="closeDialog()">
        <i class="ql-icon-close"></i>
      </div>
    </div>
    <div style="position: relative">
      <ng-container #container></ng-container>
    </div>
  </div>
</div>
