<page-header title="推介管理" [breadcrumb]="breadcrumb">
  <ng-template #breadcrumb>
    <ql-breadcrumb>
      <ql-breadcrumb-item>营销管理</ql-breadcrumb-item>
      <ql-breadcrumb-item>推介管理</ql-breadcrumb-item>
    </ql-breadcrumb>
  </ng-template>
</page-header>

<page-container>
  <data-table>
    <ql-table-column model-key="origin" label="推荐来源"></ql-table-column>
    <ql-table-column model-key="product " label="推荐产品"></ql-table-column>
    <ql-table-column model-key="name" label="客户姓名"></ql-table-column>
    <ql-table-column model-key="sex " label="客户性别"></ql-table-column>
    <ql-table-column model-key="referrer" label="推荐人"></ql-table-column>
    <ql-table-column model-key="sendTime" label="转推荐时间"></ql-table-column>
    <ql-table-column model-key="receiver" label="接收人"></ql-table-column>
    <ql-table-column model-key="time" label="处理时间"></ql-table-column>
    <ql-table-column model-key="count" label="处理状态"></ql-table-column>
    <ql-table-column label="操作">
      <ng-template #slot let-scope="scope">
        <a>查看结果</a>
        <a>同意转入</a>
      </ng-template>
    </ql-table-column>
  </data-table>
</page-container>
