<page-header title="客户资产变动" [breadcrumb]="breadcrumb" [action-group]="false" [action-group]="false" [back]="true">
    <ng-template #breadcrumb>
        <ql-breadcrumb>
            <ql-breadcrumb-item>客户管理</ql-breadcrumb-item>
            <ql-breadcrumb-item>我的客户</ql-breadcrumb-item>
            <ql-breadcrumb-item>客户资产变动</ql-breadcrumb-item>
        </ql-breadcrumb>
    </ng-template>
</page-header>

<ql-card>
    <ng-template #header>
        <ql-select placeholder="选择时间范围">
            <ql-option *ngFor="let item of seltimes" [label]="item.label" [value]="item.value"> </ql-option>
        </ql-select>
    </ng-template>

    <label-container column="4" [border]="true" labelWidth="150">
        <label-item label="资产余额变动客户">13</label-item>
        <label-item label="存款余额变动客户">126</label-item>
        <label-item label="投资理财余额变动客户">32</label-item>
        <label-item label="贷款客户">9</label-item>
        <label-item label="客户资产余额（万）">25</label-item>
        <label-item label="存款余额（万）">500</label-item>
        <label-item label="投资理财余额（万）">120</label-item>
        <label-item label="贷款余额（万）">100</label-item>
    </label-container>

    <divider></divider>

    <data-table [model]="dataassets" [action]="tableAction" [selection]="true">
        <ng-template #tableAction>
            <ql-button size="small" type="primary">拨打电话</ql-button>
            <ql-button size="small" type="success">发送短信</ql-button>
            <ql-button size="small" type="info">发现邮件</ql-button>
        </ng-template>
        <ql-table-column model-key="code" label="客户号"> </ql-table-column>
        <ql-table-column model-key="name" label="姓名"> </ql-table-column>
        <ql-table-column model-key="level" label="等级"> </ql-table-column>
        <ql-table-column model-key="sex" label="性别"> </ql-table-column>
        <ql-table-column model-key="age" label="年龄"> </ql-table-column>
        <ql-table-column model-key="tel" label="电话"> </ql-table-column>
        <ql-table-column model-key="aum" label="AUM"> </ql-table-column>
        <ql-table-column model-key="saveye" label="存款余额"> </ql-table-column>
        <ql-table-column model-key="savebd" label="上日存款变动" width="110"> </ql-table-column>
        <ql-table-column model-key="cpnum" label="持有产品数" width="105"> </ql-table-column>
        <ql-table-column model-key="interaTime" label="互动时间"> </ql-table-column>
        <ql-table-column model-key="moneyflows" label="最近资金渠道流向" width="150"> </ql-table-column>
    </data-table>
</ql-card>
