<page-header title="密码管理" [breadcrumb]="breadcrumb">
  <ng-template #breadcrumb>
    <ql-breadcrumb>
      <ql-breadcrumb-item>系统管理</ql-breadcrumb-item>
      <ql-breadcrumb-item>密码管理</ql-breadcrumb-item>
    </ql-breadcrumb>
  </ng-template>
</page-header>

<page-container>
  <ql-form [formGroup]="validateForm" label-width="100px" [show-icon]="true" [show-message]="true"
    class="form-password">

    <ql-form-item label="原密码" [required]="true" [status]="statusCtrl('oldPassword')"
      [error]="messageCtrl('oldPassword')">
      <ql-input formControlName="oldPassword" native-type="password"></ql-input>
    </ql-form-item>

    <ql-form-item label="新密码" [required]="true" [status]="statusCtrl('newPassword')"
      [error]="messageCtrl('newPassword')">
      <ql-input formControlName="newPassword" native-type="password"></ql-input>
    </ql-form-item>

    <ql-form-item label="确认密码" [required]="true" [status]="statusCtrl('confirmPassword')"
      [error]="messageCtrl('confirmPassword')">
      <ql-input formControlName="confirmPassword" native-type="password"></ql-input>
    </ql-form-item>

    <ql-form-item class="button-center">
      <ql-button type="primary" (click)="submit()">提交</ql-button>
      <ql-button (click)="reset()">重置</ql-button>
    </ql-form-item>



  </ql-form>
</page-container>
