<section class="section pt-n" style="margin-top: -20px;">
  <div class="container-fluid">
    <div class="row">
      <!-- /.col-md-6 -->

      <div class="col-md-8">
        <div class="panel border-primary no-border border-3-top" data-panel-control  id ='calendarDiv'>
          <div class="panel-heading">
            <div class="panel-title">
              <h5>日历</h5>
            </div>
          </div>
          <div class="panel-body p-20" style="margin-top: 18px;">
            <div id='calendar' ></div>
          </div>
        </div>
        <!-- /.panel -->
      </div>
      <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
