<page-header title="产品详情" [breadcrumb]="breadcrumb" [action]="action" [back]="true">
  <ng-template #breadcrumb>
    <ql-breadcrumb>
      <ql-breadcrumb-item>产品管理</ql-breadcrumb-item>
      <ql-breadcrumb-item>产品目录</ql-breadcrumb-item>
      <ql-breadcrumb-item>产品详情</ql-breadcrumb-item>
    </ql-breadcrumb>
  </ng-template>
  <ng-template #action>
    <ql-button type="primary" [routerLink]="['/product/product-create', { id: id }]">修改</ql-button>
  </ng-template>
</page-header>

<page-container> </page-container>
