$element-height: 30px;

:host ::ng-deep {
  .ql-button {
    height: $element-height;
  }

  .ql-form-item {
    margin-bottom: 10px;

    .ql-form-item__content {
      min-width: 220px;
    }
  }

  .ql-input {
    .ql-input__inner {
      height: $element-height;
    }
  }

  .form-search-action {
    .ql-button {
      margin: 5px 10px 5px 0;
      min-width: 80px;
    }
  }

  .form-extend-action {
    .ql-button {
      margin-top: 5px;
      min-width: 100px;
      padding: 0;
    }
  }

  .collapse-container {
    .collapse-icon {
      i {
        transform: rotate(180deg);
        transition: transform 0.2s linear;
      }
    }
    &.form-collapse {
      .collapse-icon {
        i {
          transform: rotate(0deg);
        }
      }
    }
  }
}

.form-action {
  margin-bottom: 15px;
}
