<ql-form class="form-input" #form [formGroup]="formGroup" [inline]="true">
  <div class="form-input-container row">
    <div #content class="form-input-content col-span">
      <ng-content></ng-content>
    </div>
    <div *ngIf="collapseEnable" class="collapse-container" [ngClass]="{ 'form-collapse': collapse }">
      <ql-button
        type="primary"
        size="large"
        class="collapse-icon"
        (click)="onCollapseChange(!collapse)"
        type="text"
        icon="arrow-down"
      ></ql-button>
    </div>
  </div>
</ql-form>

<div class="form-action row between-span">
  <div class="form-search-action">
    <ql-button *ngIf="showSubmit" size="small" type="primary" (click)="onSubmit()">{{ submitText }}</ql-button>
    <ql-button *ngIf="showReset" size="small" (click)="onReset()">重置</ql-button>
    <ng-container *ngIf="false; else button"></ng-container>
  </div>
  <div class="form-extend-action">
    <ng-container *ngIf="false; else action"></ng-container>
  </div>
</div>
