<div>
  <ql-form [formGroup]="formGroup" label-width="100px">
    <ql-card header="客户基本属性" class="ql-text-left">
      <div ql-row gutter="12">
        <div ql-col span="12">
          <ql-form-item label="客户姓名">
            <ql-input></ql-input>
          </ql-form-item>
        </div>
        <div ql-col span="12">
          <ql-form-item label="客户编码">
            <ql-input></ql-input>
          </ql-form-item>
        </div>
        <div ql-col span="12 ">
          <ql-form-item label="联系电话">
            <ql-input></ql-input>
          </ql-form-item>
        </div>
        <div ql-col span="12 ">
          <ql-form-item label="所属行业 ">
            <ql-input></ql-input>
          </ql-form-item>
        </div>
        <div ql-col span="12">
          <ql-form-item label="性别">
            <ql-select [clearable]="true">
              <ql-option *ngFor="let item of sexitems" [label]="item.label" [value]="item.value"> </ql-option>
            </ql-select>
          </ql-form-item>
        </div>
        <div ql-col span="12 ">
          <ql-form-item label="年龄 ">
            <ql-select [clearable]="true">
              <ql-option *ngFor="let item of ageitems" [label]="item.label" [value]="item.value"> </ql-option>
            </ql-select>
          </ql-form-item>
        </div>
        <div ql-col span="12 ">
          <ql-form-item label="婚姻">
            <ql-select [clearable]="true">
              <ql-option *ngFor="let item of marryitems" [label]="item.label" [value]="item.value"> </ql-option>
            </ql-select>
          </ql-form-item>
        </div>
        <div ql-col span="12 ">
          <ql-form-item label="职业 ">
            <ql-input></ql-input>
          </ql-form-item>
        </div>
        <div ql-col span="12 ">
          <ql-form-item label="学历 ">
            <ql-select [clearable]="true">
              <ql-option *ngFor="let item of schoolitems" [label]="item.label" [value]="item.value"> </ql-option>
            </ql-select>
          </ql-form-item>
        </div>
        <div ql-col span="12 ">
          <ql-form-item label="信用评级 ">
            <ql-select [clearable]="true">
              <ql-option *ngFor="let item of starcomment" [label]="item.label" [value]="item.value"> </ql-option>
            </ql-select>
          </ql-form-item>
        </div>
        <div ql-col span="12 ">
          <ql-form-item label="理财风险">
            <ql-select [clearable]="true">
              <ql-option *ngFor="let item of lcrick" [label]="item.label" [value]="item.value"> </ql-option>
            </ql-select>
          </ql-form-item>
        </div>
        <div ql-col span="12 ">
          <ql-form-item label="基金风险">
            <ql-select [clearable]="true">
              <ql-option *ngFor="let item of jijinrick" [label]="item.label" [value]="item.value"> </ql-option>
            </ql-select>
          </ql-form-item>
        </div>
        <div ql-col span="12 ">
          <ql-form-item label="开户时间 ">
            <ql-date-picker> </ql-date-picker>
          </ql-form-item>
        </div>
      </div>
    </ql-card>
    <ql-card>
      <h4 style="text-align: left;">客户贡献属性</h4>
      <div ql-row gutter="12">
        <div ql-col span="12">
          <ql-form-item label="客户等级">
            <ql-select [clearable]="true">
              <ql-option *ngFor="let item of ctlever" [label]="item.label" [value]="item.value"> </ql-option>
            </ql-select>
          </ql-form-item>
        </div>
        <div ql-col span="12">
          <ql-form-item label="客户资产">
            <ql-select [clearable]="true">
              <ql-option *ngFor="let item of ctassets" [label]="item.label" [value]="item.value"> </ql-option>
            </ql-select>
          </ql-form-item>
        </div>
      </div>
    </ql-card>
    <ql-card header="客户标签类型" class="text-left">
      <div ql-row gutter="12">
        <div ql-col span="12">
          <ql-form-item label="基本属性">
            <ql-select [clearable]="true">
              <ql-option *ngFor="let item of baseitems" [label]="item.label" [value]="item.value"> </ql-option>
            </ql-select>
          </ql-form-item>
        </div>
        <div ql-col span="12">
          <ql-form-item label="交易偏好">
            <ql-select [clearable]="true">
              <ql-option *ngFor="let item of baseitems" [label]="item.label" [value]="item.value"> </ql-option>
            </ql-select>
          </ql-form-item>
        </div>
        <div ql-col span="12">
          <ql-form-item label="价值属性">
            <ql-select [clearable]="true">
              <ql-option *ngFor="let item of baseitems" [label]="item.label" [value]="item.value"> </ql-option>
            </ql-select>
          </ql-form-item>
        </div>
        <div ql-col span="12">
          <ql-form-item label="风险属性">
            <ql-select [clearable]="true">
              <ql-option *ngFor="let item of baseitems" [label]="item.label" [value]="item.value"> </ql-option>
            </ql-select>
          </ql-form-item>
        </div>
        <div ql-col span="12">
          <ql-form-item label="行为特征">
            <ql-select [clearable]="true">
              <ql-option *ngFor="let item of baseitems" [label]="item.label" [value]="item.value"> </ql-option>
            </ql-select>
          </ql-form-item>
        </div>
        <div ql-col span="12">
          <ql-form-item label="信用特征">
            <ql-select [clearable]="true">
              <ql-option *ngFor="let item of baseitems" [label]="item.label" [value]="item.value"> </ql-option>
            </ql-select>
          </ql-form-item>
        </div>
        <div ql-col span="12">
          <ql-form-item label="营销偏好">
            <ql-select [clearable]="true">
              <ql-option *ngFor="let item of baseitems" [label]="item.label" [value]="item.value"> </ql-option>
            </ql-select>
          </ql-form-item>
        </div>
      </div>
    </ql-card>

    <ql-card header="客户产品属性" class="text-left">
      <div ql-row gutter="12">
        <div ql-col span="12">
          <ql-form-item label="客户产品名称">
            <ql-input></ql-input>
          </ql-form-item>
        </div>
        <div ql-col span="12">
          <ql-form-item label="客户产品类别">
            <ql-select></ql-select>
          </ql-form-item>
        </div>
      </div>
    </ql-card>
    <ql-card header="客户签约属性" class="text-left">
      <div ql-row gutter="12">
        <div ql-col span="12">
          <ql-form-item label="客户签约类型">
            <ql-select></ql-select>
          </ql-form-item>
        </div>
      </div>
    </ql-card>
    <ql-card header="客户渠道偏好属性" class="text-left">
      <div ql-row gutter="12">
        <div ql-col span="12">
          <ql-form-item label="客户渠道类型">
            <ql-select></ql-select>
          </ql-form-item>
        </div>
      </div>
    </ql-card>
    <div>
      <ql-button type="primary" (click)="onSubmit()">提交</ql-button>
      <ql-button>重置</ql-button>
    </div>
  </ql-form>
</div>
