<div>
    <ql-form [formGroup]="formGroup" label-width="100px">
        <ql-card header="客户基本属性" class="ql-text-left">
            <ng-template #header>
                <card-header title="客户基本属性">
                    <ql-button type="primary" size="small">保存</ql-button>
                    <ql-button type="primary" size="small">重置</ql-button>

                </card-header>
            </ng-template>
            <div ql-row gutter="12">
                <div ql-col span="12">
                    <ql-form-item label="客户姓名">
                        <ql-input></ql-input>
                    </ql-form-item>
                </div>
                <div ql-col span="12">
                    <ql-form-item label="客户编码">
                        <ql-input></ql-input>
                    </ql-form-item>
                </div>
                <div ql-col span="12 ">
                    <ql-form-item label="联系电话">
                        <ql-input></ql-input>
                    </ql-form-item>
                </div>
                <div ql-col span="12 ">
                    <ql-form-item label="所属行业 ">
                        <ql-input></ql-input>
                    </ql-form-item>
                </div>
                <div ql-col span="12">
                    <ql-form-item label="性别">
                        <ql-select [clearable]="true">
                            <ql-option *ngFor="let item of sexitems" [label]="item.label" [value]="item.value"> </ql-option>
                        </ql-select>
                    </ql-form-item>
                </div>
                <div ql-col span="12 ">
                    <ql-form-item label="年龄 ">
                        <ql-select [clearable]="true">
                            <ql-option *ngFor="let item of ageitems" [label]="item.label" [value]="item.value"> </ql-option>
                        </ql-select>
                    </ql-form-item>
                </div>
                <div ql-col span="12 ">
                    <ql-form-item label="婚姻">
                        <ql-select [clearable]="true">
                            <ql-option *ngFor="let item of marryitems" [label]="item.label" [value]="item.value"> </ql-option>
                        </ql-select>
                    </ql-form-item>
                </div>
                <div ql-col span="12 ">
                    <ql-form-item label="职业 ">
                        <ql-input></ql-input>
                    </ql-form-item>
                </div>
                <div ql-col span="12 ">
                    <ql-form-item label="客户等级">
                        <ql-select [clearable]="true">
                            <ql-option *ngFor="let item of customerLevel" [label]="item.label" [value]="item.value"> </ql-option>
                        </ql-select>
                    </ql-form-item>
                </div>
                <div ql-col span="12 ">
                    <ql-form-item label="客户潜力值njnjjnjn">
                        <ql-select [clearable]="true">
                            <ql-option *ngFor="let item of customerPotential" [label]="item.label" [value]="item.value"> </ql-option>
                        </ql-select>
                    </ql-form-item>
                </div>
                <div ql-col span="12 ">
                    <ql-form-item label="学历 ">
                        <ql-select [clearable]="true">
                            <ql-option *ngFor="let item of schoolitems" [label]="item.label" [value]="item.value"> </ql-option>
                        </ql-select>
                    </ql-form-item>
                </div>
                <div ql-col span="12 ">
                    <ql-form-item label="星级评级 ">
                        <ql-select [clearable]="true">
                            <ql-option *ngFor="let item of starcomment" [label]="item.label" [value]="item.value"> </ql-option>
                        </ql-select>
                    </ql-form-item>
                </div>
                <div ql-col span="12 ">
                    <ql-form-item label="理财风险">
                        <ql-select [clearable]="true">
                            <ql-option *ngFor="let item of lcrick" [label]="item.label" [value]="item.value"> </ql-option>
                        </ql-select>
                    </ql-form-item>
                </div>
                <div ql-col span="12 ">
                    <ql-form-item label="基金风险">
                        <ql-select [clearable]="true">
                            <ql-option *ngFor="let item of jijinrick" [label]="item.label" [value]="item.value"> </ql-option>
                        </ql-select>
                    </ql-form-item>
                </div>
                <div ql-col span="12 ">
                    <ql-form-item label="开户时间 ">
                        <ql-date-picker> </ql-date-picker>
                    </ql-form-item>
                </div>
            </div>
        </ql-card>
        <ql-card>
            <h4 style="text-align: left;">客户贡献属性</h4>
            <div ql-row gutter="12">
                <div ql-col span="12">
                    <ql-form-item label="客户等级">
                        <ql-select [clearable]="true">
                            <ql-option *ngFor="let item of ctlever" [label]="item.label" [value]="item.value"> </ql-option>
                        </ql-select>
                    </ql-form-item>
                </div>
                <div ql-col span="12">
                    <ql-form-item label="客户资产">
                        <ql-select [clearable]="true">
                            <ql-option *ngFor="let item of ctassets" [label]="item.label" [value]="item.value"> </ql-option>
                        </ql-select>
                    </ql-form-item>
                </div>
            </div>
        </ql-card>
        <ql-card>
            <h4 style="text-align: left;">客户标签类型</h4>
            <div ql-row gutter="12">
                <div ql-col span="12">
                    <ql-form-item label="基本属性">
                        <ql-select [clearable]="true">
                            <ql-option *ngFor="let item of baseitems" [label]="item.label" [value]="item.value"> </ql-option>
                        </ql-select>
                    </ql-form-item>
                </div>
                <div ql-col span="12">
                    <ql-form-item label="交易偏好">
                        <ql-select [clearable]="true">
                            <ql-option *ngFor="let item of baseitems" [label]="item.label" [value]="item.value"> </ql-option>
                        </ql-select>
                    </ql-form-item>
                </div>
                <div ql-col span="12">
                    <ql-form-item label="价值属性">
                        <ql-select [clearable]="true">
                            <ql-option *ngFor="let item of baseitems" [label]="item.label" [value]="item.value"> </ql-option>
                        </ql-select>
                    </ql-form-item>
                </div>
                <div ql-col span="12">
                    <ql-form-item label="风险属性">
                        <ql-select [clearable]="true">
                            <ql-option *ngFor="let item of baseitems" [label]="item.label" [value]="item.value"> </ql-option>
                        </ql-select>
                    </ql-form-item>
                </div>
                <div ql-col span="12">
                    <ql-form-item label="行为特征">
                        <ql-select [clearable]="true">
                            <ql-option *ngFor="let item of baseitems" [label]="item.label" [value]="item.value"> </ql-option>
                        </ql-select>
                    </ql-form-item>
                </div>
                <div ql-col span="12">
                    <ql-form-item label="信用特征">
                        <ql-select [clearable]="true">
                            <ql-option *ngFor="let item of baseitems" [label]="item.label" [value]="item.value"> </ql-option>
                        </ql-select>
                    </ql-form-item>
                </div>
                <div ql-col span="12">
                    <ql-form-item label="营销偏好">
                        <ql-select [clearable]="true">
                            <ql-option *ngFor="let item of baseitems" [label]="item.label" [value]="item.value"> </ql-option>
                        </ql-select>
                    </ql-form-item>
                </div>
            </div>
        </ql-card>
        <ql-card>
            <h4 style="text-align: left;">客户交易属性</h4>
            <div class="row">
                <div ql-col span="24">
                    <ql-form-item label="交易类型">
                        <ql-select [clearable]="true">
                            <ql-option *ngFor="let item of tradType " [label]="item.label" [value]="item.value"> </ql-option>
                        </ql-select>
                    </ql-form-item>
                </div>
                <div ql-col span="8">
                    <ql-form-item label="交易金额范围">
                        <ql-input placeholder="交易金额最小值"></ql-input>
                    </ql-form-item>
                </div>
                <div ql-col span="8">
                    <ql-form-item label="">
                        <ql-input placeholder="交易金额最大值"></ql-input>
                    </ql-form-item>
                </div>
                <div ql-col span="8"></div>
                <div ql-col span="8">
                    <ql-form-item label="交易渠道">
                        <ql-select [clearable]="true">
                            <ql-option *ngFor="let item of chandelType " [label]="item.label" [value]="item.value"> </ql-option>
                        </ql-select>
                    </ql-form-item>
                </div>
                <div ql-col span="8">
                    <ql-form-item label="交易区域">
                        <ql-select [clearable]="true">
                            <ql-option *ngFor="let item of tradArea" [label]="item.label" [value]="item.value"> </ql-option>
                        </ql-select>
                    </ql-form-item>
                </div>
                <div ql-col span="8"></div>
                <div ql-col span="8">
                    <ql-form-item label="交易时间范围">
                        <ql-date-picker placeholder="起始日期"> </ql-date-picker>
                    </ql-form-item>
                </div>
                <div ql-col span="8">
                    <ql-form-item label="">
                        <ql-date-picker placeholder="结束日期"> </ql-date-picker>
                    </ql-form-item>
                </div>
                <div ql-col span="8"></div>
            </div>
        </ql-card>
        <ql-card>
            <h4 style="text-align: left;">客户产品属性</h4>
            <div ql-row gutter="12">
                <div ql-col span="12">
                    <ql-form-item label="客户产品名称">
                        <ql-input></ql-input>
                    </ql-form-item>
                </div>
                <div ql-col span="12">
                    <ql-form-item label="客户产品类别">
                        <ql-input></ql-input>
                    </ql-form-item>
                </div>
            </div>
        </ql-card>
        <ql-card>
            <h4 style="text-align: left;">客户签约属性</h4>
            <div ql-row gutter="12">
                <div ql-col span="12">
                    <ql-form-item label="客户签约类型">
                        <!-- <ql-select [(model)]="value " [clearable]="true ">
                            <ql-option *ngFor="let item of baseitems" [label]=" item.label " [value]="item.value">
                            </ql-option>
                        </ql-select> -->
                        <ql-input></ql-input>
                    </ql-form-item>
                </div>
            </div>
        </ql-card>
        <ql-card>
            <h4 style="text-align: left;">客户渠道偏好属性</h4>
            <div ql-row gutter="12">
                <div ql-col span="12">
                    <ql-form-item label="客户渠道类型">
                        <!-- <ql-select [(model)]="value " [clearable]="true ">
                            <ql-option *ngFor="let item of channel" [label]=" item.label " [value]="item.value">
                            </ql-option>
                        </ql-select> -->
                        <ql-input></ql-input>
                    </ql-form-item>
                </div>
            </div>
        </ql-card>
    </ql-form>
</div>
