<data-table #table height="400" [model]="interestList" [selection]="true">
  <ql-table-column model-key="type" label="权益类型"></ql-table-column>
  <ql-table-column model-key="name" label="权益名称"></ql-table-column>
  <ql-table-column model-key="chargeOffType" label="核销方式"></ql-table-column>
  <ql-table-column model-key="company" label="提供服务商"></ql-table-column>
  <ql-table-column model-key="upTime" label="上架时间"></ql-table-column>
  <ql-table-column model-key="count" label="权益总数量"></ql-table-column>
  <ql-table-column model-key="lastCount" label="剩余可用数量"></ql-table-column>
  <ql-table-column model-key="expireTime" label="到期时间"></ql-table-column>
</data-table>
<div class="text-center ql-margin">
  <ql-button type="primary"  (click)="modalRef.close(table.getSelections())">提交</ql-button>
  <ql-button (click)="modalRef.close()">取消</ql-button>
</div>
