<page-header title="理财配置" [breadcrumb]="breadcrumb" [back]="true">
  <ng-template #breadcrumb>
    <ql-breadcrumb>
      <ql-breadcrumb-item>理财规划</ql-breadcrumb-item>
      <ql-breadcrumb-item>精选理财规划</ql-breadcrumb-item>
      <ql-breadcrumb-item>理财配置</ql-breadcrumb-item>
    </ql-breadcrumb>
  </ng-template>
</page-header>

<page-container>
  <data-form [showReset]="false" [formGroup]="formGroup" (submit)="onRefresh()" submitText="生成报告">
    <ql-form-item label="客户姓名: ">
      <ql-input formControlName="customerName"></ql-input>
    </ql-form-item>
    <ql-form-item label="风险等级: ">
      <ql-select placeholder="请选择" formControlName="riskLevel">
        <ql-option
          *ngFor="
            let item of [
              { key: 'R1', value: 1 },
              { key: 'R2', value: 2 },
              { key: 'R3', value: 3 },
              { key: 'R4', value: 4 }
            ]
          "
          [label]="item.key"
          [value]="item.value"
        >
        </ql-option>
      </ql-select>
    </ql-form-item>
    <ql-form-item label="报酬: " formGroupName="assumption">
      <div class="row">
        <ql-input formControlName="start"></ql-input>
        <span>%</span>
        <div class="ql-padding-x">-</div>
        <ql-input formControlName="end"></ql-input>
        <span>%</span>
      </div>
    </ql-form-item>
  </data-form>
  <div ql-row *ngIf="assetConfigure != null || managerWealth != null; else empty">
    <ql-card ql-row class="ql-padding-x" header="资产分析">
      <div>
        <div echarts [options]="assetConfigure"></div>
      </div>
    </ql-card>
    <ql-card ql-row class="box-card" >
      <ng-template #header>
        <div class="clearfix">
          <span style="line-height: 36px;">理财规划书</span>
          <ql-button type="primary" style="float: right;" >下载</ql-button>
        </div>
      </ng-template>
      <pdf-viewer [src]="pdfSrc"
                  [render-text]="true"
                  style="display: block;">
      </pdf-viewer>
    </ql-card>

  </div>
  <ng-template #empty>
    <div class="row middel-span center-span" style="height: 400px">
      暂无数据
    </div>
  </ng-template>
</page-container>
