<page-header title="客户详情" [breadcrumb]="breadcrumb" [back]="true">
    <ng-template #breadcrumb>
        <ql-breadcrumb>
            <ql-breadcrumb-item>客户管理</ql-breadcrumb-item>
            <ql-breadcrumb-item>客户详情</ql-breadcrumb-item>
        </ql-breadcrumb>
    </ng-template>
</page-header>

<page-container>
    <tab-container>
        <tab-item title="客户信息">
            <!-- <ql-card> -->
            <div ql-row>
                <ql-card header="基本信息">
                    <div ql-row>
                        <div ql-col [span]="4">
                            <img class="imgcss" src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2882133088,2696092300&fm=26&gp=0.jpg" alt="" />
                            <p class="ql-text-center ql-margin-top ">四星客户</p>
                            <ql-rate class="ql-text-center" [model]="4" [max]="4" [qlDisabled]="true"> </ql-rate>
                        </div>
                        <div class="rightcss" ql-col [span]="20">
                            <h5>陈先(男士,38岁)</h5>
                            <h5>身份证号:612501199506065980</h5>
                            <p>
                                <ql-tag class="mr-3" type="danger">教育培训</ql-tag>
                                <ql-tag class="mr-3" type="danger">潜力价值客户</ql-tag>
                                <ql-tag class="mr-3" type="primary">旅游达人</ql-tag>
                                <ql-tag class="mr-3" type="warning">有房一族</ql-tag>
                                <ql-tag class="mr-3" type="success">理财小白</ql-tag>
                            </p>
                            <div class="rightcss" ql-col [span]="7">
                                <span>客户经理:</span>
                                <span>孟萍</span>
                            </div>
                            <div class="rightcss" ql-col [span]="7">
                                <span>客户等级:</span>
                                <span>白金客户</span>
                            </div>
                            <div class="rightcss" ql-col [span]="10">
                                <span>客户分组:</span>
                                <span>金领旅游组</span>
                            </div>
                            <div class="rightcss" ql-col [span]="7">
                                <span>综合积分:</span>
                                <span>320分</span>
                            </div>
                            <div class="rightcss" ql-col [span]="7">
                                <span>AUM:</span>
                                <span>3万</span>
                            </div>
                            <div class="rightcss" ql-col [span]="10">
                                <span>归属机构:</span>
                                <span>中国建设银行</span>
                            </div>
                            <div class="rightcss" ql-col [span]="7">
                                <span>出生日期:</span>
                                <span>1989-06-20</span>
                            </div>
                            <div class="rightcss" ql-col [span]="7">
                                <span>星座:</span>
                                <span>巨蟹座</span>
                            </div>
                            <div class="rightcss" ql-col [span]="10">
                                <span>财富潜力值:</span>
                                <span>高</span>
                            </div>
                            <div class="rightcss" ql-col [span]="7">
                                <span>电话:</span>
                                <span>189-267-77671</span>
                            </div>
                            <div class="rightcss" ql-col [span]="7">
                                <span>微信：</span>
                                <span>ZStyi124</span>
                            </div>
                            <div class="rightcss" ql-col [span]="10">
                                <span>邮箱：</span>
                                <span>18926777671@163.com</span>
                            </div>
                            <div class="rightcss" ql-col [span]="7">
                                <span>资产余额：</span>
                                <span>100万</span>
                            </div>
                            <div class="rightcss" ql-col [span]="7">
                                <span>平均月收入：</span>
                                <span>2.3万(中高)</span>
                            </div>
                            <div class="rightcss" ql-col [span]="10">
                                <span>平均月支出：</span>
                                <span>1.8万(中高)</span>
                            </div>
                            <div class="rightcss" ql-col [span]="15">
                                <p>家庭住址：陕西省西安市莲湖区土门街道234号</p>
                            </div>
                            <div ql-col [span]="2"></div>
                        </div>
                    </div>
                </ql-card>
                <ql-card header="家庭基本信息">
                    <label-container column="4" [border]="true" labelWidth="160">
                        <label-item label="家庭人口">4</label-item>
                        <label-item label="供养人数">2</label-item>
                        <label-item label="子女人数 ">2</label-item>
                        <label-item label="是否有未成年子女">是</label-item>
                        <label-item label="家庭总资产">300万</label-item>
                        <label-item label="家庭总负债">90万</label-item>
                        <label-item label="家庭对外担保总额">390万</label-item>
                        <label-item label="家庭年总收入">40万</label-item>
                        <label-item label="有无房产">有</label-item>
                        <label-item label="有无私家车">有</label-item>
                        <label-item label="主要经济来源">工资</label-item>
                        <label-item label="主要支出方向">生活消费</label-item>
                        <label-item label="家庭情况说明">家庭旅游</label-item>
                        <label-item label="我行家庭存款余额">60万</label-item>
                        <label-item label="我行家庭投资理财余额">10万</label-item>
                        <label-item label="我行家庭贷款余额">12万</label-item>
                        <label-item label="家庭可投资资产">15万</label-item>
                        <label-item label="可投资资产占家庭总比">15%</label-item>
                        <label-item label="活期存款占家庭总资产比">5%</label-item>
                        <label-item label="定期存款占家庭总资产比">8%</label-item>
                        <label-item label="国债占家庭总资产比">0</label-item>
                        <label-item label="理财占家庭总资产比">5%</label-item>
                        <label-item label="基金占家庭总资产比">10%</label-item>
                        <label-item label="保险占家庭总资产比">10%</label-item>
                        <label-item label="信托占家庭总资产比">0</label-item>
                        <label-item label="股票占家庭总资产比">0</label-item>
                    </label-container>
                </ql-card>
                <ql-card header="营销活动记录">
                    <data-table [model]="marketList">
                        <ql-table-column model-key="marketName" label="营销活动名称"> </ql-table-column>
                        <ql-table-column model-key="time" label="营销活动时间"> </ql-table-column>
                        <ql-table-column model-key="result" label="营销结果"> </ql-table-column>
                    </data-table>
                </ql-card>
                <ql-card header="产品到期提醒">
                    <data-table [model]="duetoProduct">
                        <ql-table-column model-key="productName" label="营销活动名称"> </ql-table-column>
                        <ql-table-column model-key="startdate" label="营销活动时间"> </ql-table-column>
                        <ql-table-column model-key="enddate" label="营销结果"> </ql-table-column>
                    </data-table>
                </ql-card>
                <ql-card header="活动商圈">
                    <data-table [model]="shopsList">
                        <ql-table-column model-key="place" label="活动地点"> </ql-table-column>
                        <ql-table-column model-key="time" label="活动时间"> </ql-table-column>
                    </data-table>
                </ql-card>
                <ql-card header="标签信息">
                    <div class="ql-margin-top ql-margin-bottom">
                        <ql-select [clearable]="true">
                            <ql-option *ngFor="let item of tagTypes" [label]="item.label" [value]="item.value"> </ql-option>
                        </ql-select>
                    </div>
                    <data-table [model]="tagInfoList">
                        <ql-table-column model-key="tagname" label="标签名称"> </ql-table-column>
                        <ql-table-column model-key="tagtype" label="标签类型"> </ql-table-column>
                        <ql-table-column model-key="tagtime" label="打标时间"> </ql-table-column>
                    </data-table>
                </ql-card>
                <ql-card header="客户签约信息">
                    <p>手机银行、短信银行、微信银行、网上银行</p>
                </ql-card>
            </div>
            <!-- </ql-card> -->
        </tab-item>
        <tab-item title="客户资产">
            <ql-card header="资产统计">
                <div ql-row>
                    <div ql-col span="24" echarts [options]="options1"></div>
                </div>
                <div class="customerassets">
                    <data-table [model]="tableDataMore">
                        <ql-table-column model-key="financial" label="理财"></ql-table-column>
                        <ql-table-column model-key="fund" label="基金"></ql-table-column>
                        <ql-table-column model-key="bonds" label="国债"></ql-table-column>
                        <ql-table-column model-key="insurance" label="保险"></ql-table-column>
                        <ql-table-column model-key="deposit" label="人民币存款"></ql-table-column>
                        <ql-table-column model-key="housing" label="住房类贷款"></ql-table-column>
                        <ql-table-column model-key="loans" label="消费类贷款"></ql-table-column>
                        <ql-table-column model-key="credit" label="信用卡"></ql-table-column>
                        <ql-table-column model-key="debit" label="借记卡"></ql-table-column>
                        <ql-table-column model-key="other" label="其他"></ql-table-column>
                    </data-table>
                </div>
            </ql-card>
            <ql-card header="消费统计">
                <label-container column="4" [border]="true">
                    <label-item label="本月消费金额">3万</label-item>
                    <label-item label="比上月">-1%</label-item>
                    <label-item label="本年消费金额">45万</label-item>
                    <label-item label="比去年">+3%</label-item>
                </label-container>
            </ql-card>
            <ql-card header="交易记录">
                <div class="ql-margin-top ql-margin-bottom">
                    <ql-select [clearable]="true">
                        <ql-option *ngFor="let item of tradTypes" [label]="item.label" [value]="item.value"> </ql-option>
                    </ql-select>
                </div>
                <data-table [model]="tradList">
                    <ql-table-column model-key="tradname" label="交易类型"> </ql-table-column>
                    <ql-table-column model-key="tradtype" label="交易类型"> </ql-table-column>
                    <ql-table-column model-key="tradtime" label="交易时间"> </ql-table-column>
                    <ql-table-column model-key="tradaccount" label="交易账户"> </ql-table-column>
                </data-table>
            </ql-card>
        </tab-item>
        <tab-item title="客户联络">
            <ql-card>
                <data-table [model]="contactData">
                    <ql-table-column model-key="bussiness" label="业务" width="105"> </ql-table-column>
                    <ql-table-column model-key="chandel" label="办理渠道"> </ql-table-column>
                    <ql-table-column model-key="time" label="办理时间" width="150"> </ql-table-column>
                </data-table>
            </ql-card>
        </tab-item>
        <tab-item title="客户持有产品">
            <ql-card>
                <div ql-row>
                    <h4>活期存款</h4>
                    <label-container column="4" [border]="true">
                        <label-item label="账号">78273221</label-item>
                        <label-item label="账户状态">正常</label-item>
                        <label-item label="币种">人民币</label-item>
                        <label-item label="本金">20万</label-item>
                    </label-container>
                    <h4>定期存款</h4>
                    <label-container column="4" [border]="true">
                        <label-item label="账号">78273221</label-item>
                        <label-item label="账户状态">正常</label-item>
                        <label-item label="币种">人民币</label-item>
                        <label-item label="本金">30万</label-item>
                    </label-container>
                    <div class="customerassets ql-margin-top ql-padding">
                        <data-form [showReset]="false" [formGroup]="formGroup" label-width="130px">
                            <ql-form-item label="产品类型">
                                <ql-select [(model)]="valuetype" [clearable]="true">
                                    <ql-option *ngFor="let item of prductType" [label]="item.label" [value]="item.value"> </ql-option>
                                </ql-select>
                            </ql-form-item>
                            <ql-form-item label="产品代码">
                                <ql-input></ql-input>
                            </ql-form-item>
                            <ql-form-item label="产品名称">
                                <ql-input></ql-input>
                            </ql-form-item>
                            <ql-form-item label="客户电话">
                                <ql-input></ql-input>
                            </ql-form-item>
                            <ql-form-item label="产品持有金额范围">
                                <ql-select [(model)]="valuecate" [clearable]="true">
                                    <ql-option *ngFor="let item of category" [label]="item.label" [value]="item.value"> </ql-option>
                                </ql-select>
                            </ql-form-item>
                            <ql-form-item label="日期">
                                <ql-date-picker> </ql-date-picker>
                            </ql-form-item>
                        </data-form>
                        <data-table [model]="customertabledata" [selection]="true">
                            <ql-table-column model-key="code" [render-html]="true" label="客户号"></ql-table-column>
                            <ql-table-column model-key="name" [render-html]="true" label="姓名" width="70"></ql-table-column>
                            <ql-table-column model-key="level" [render-html]="true" label="客户等级"></ql-table-column>
                            <ql-table-column model-key="age" [render-html]="true" label="年龄" width="60"></ql-table-column>
                            <ql-table-column model-key="sex" [render-html]="true" label="性别" width="60"></ql-table-column>
                            <ql-table-column model-key="tel" [render-html]="true" label="手机号"></ql-table-column>
                            <ql-table-column model-key="producttype" [render-html]="true" label="产品类型" width="85"></ql-table-column>
                            <ql-table-column model-key="productcode" [render-html]="true" label="产品代码"></ql-table-column>
                            <ql-table-column model-key="productown" [render-html]="true" label="持有产品额"></ql-table-column>
                            <ql-table-column model-key="aum" [render-html]="true" label="AUM" width="80"></ql-table-column>
                            <ql-table-column model-key="balance" [render-html]="true" label="资产余额" width="85"></ql-table-column>
                        </data-table>
                        <div class="btncss">
                            <ql-button size="small" type="primary">拨打电话</ql-button>
                            <ql-button size="small" type="success">发送短信</ql-button>
                            <ql-button size="small" type="info">发现邮件</ql-button>
                        </div>
                    </div>
                </div>
            </ql-card>
        </tab-item>
        <tab-item title="推荐产品">
            <ql-card>
                <div ql-row>
                    <div class="row ql-padding ql-margin-top" *ngFor="let item of tjcpdata" style="border: 1px solid gainsboro;">
                        <div ql-col span="5">
                            <h5>{{ item.name }}</h5>
                        </div>
                        <div ql-col span="7">
                            <p class="lccpcss">
                                产品代码：<span style="color:blue">{{ item.code }}</span>
                            </p>
                            <p class="lccpcss">
                                风险等级：<span style="color: red;">{{ item.level }}</span>
                            </p>
                            <p class="lccpcss">预期收益率：{{ item.profit }}</p>
                            <p class="lccpcss">销售渠道：{{ item.kandel }}</p>
                        </div>
                        <div ql-col span="7">
                            <p class="lccpcss">发售起始日期：{{ item.star }}</p>
                            <p class="lccpcss">发售截至日期：{{ item.end }}</p>
                            <p class="lccpcss">产品周期：{{ item.cycle }}</p>
                            <p class="lccpcss" style="color: blue;">{{ item.decsrible }}</p>
                        </div>
                        <div ql-col span="5">
                            <ql-button type="primary" size="small">详情</ql-button>
                        </div>
                    </div>
                </div>
            </ql-card>
        </tab-item>
        <tab-item title="客户信息采集">
            <div ql-row>
                <div class="row wrapinfo">
                    <ql-card header="基本信息">
                        <ng-template #header>
                            <card-header title="基本信息">
                                <ql-button type="primary" size="small" (click)="addInfoFun()">信息补充</ql-button>
                            </card-header>
                        </ng-template>
                        <label-container column="3" [border]="true" labelWidth="120">
                            <label-item label="姓名">陈先</label-item>
                            <label-item label="性别">男</label-item>
                            <label-item label="证件类型">身份证</label-item>
                            <label-item label="证件号码">678190198909877876</label-item>
                            <label-item label="职业">律师</label-item>
                            <label-item label="单位所属行业">法律服务</label-item>
                            <label-item label="个人年收入">20万+</label-item>
                            <label-item label="微信号码"></label-item>
                            <label-item label="邮箱"></label-item>
                            <label-item label="邮编"></label-item>
                            <label-item label="感兴趣产品类型">股票类</label-item>
                            <label-item label="潜在客户群名称"></label-item>
                        </label-container>
                    </ql-card>
                    <ql-card header="标签列表">
                        <ng-template #header>
                            <card-header title="标签列表">
                                <ql-button type="primary" size="small" (click)="addTagFun()">增加手动标签</ql-button>
                            </card-header>
                        </ng-template>
                        <data-table [model]="tagInfo">
                            <ql-table-column model-key="tagname" label="标签名称"> </ql-table-column>
                            <ql-table-column model-key="tagcate" label="标签分类"> </ql-table-column>
                            <ql-table-column model-key="tagtype" label="标签类型"> </ql-table-column>
                            <ql-table-column model-key="tagtime" label="标签时间"> </ql-table-column>
                        </data-table>
                    </ql-card>
                </div>
            </div>
        </tab-item>
    </tab-container>
</page-container>

<ng-template #addInfo>
    <ql-card>
        <ql-form ql-row gutter="24" class="ql-margin-top">
            <ql-form-item label="微信号码" ql-col span="12">
                <ql-input placeholder="请输入内容"></ql-input>
            </ql-form-item>
            <ql-form-item label="邮箱" ql-col span="12">
                <ql-input placeholder="请输入内容"></ql-input>
            </ql-form-item>
            <ql-form-item label="邮编" ql-col span="12">
                <ql-input placeholder="请输入内容"></ql-input>
            </ql-form-item>
            <ql-form-item label="潜在客户群名称" ql-col span="12">
                <ql-input placeholder="请输入内容"></ql-input>
            </ql-form-item>
            <ql-form-item ql-col span="24" class="ql-text-right">
                <ql-button type="primary" size="small">重置</ql-button>
                <ql-button type="primary" size="small" (click)="modal.close()">保存</ql-button>
            </ql-form-item>
        </ql-form>
    </ql-card>
</ng-template>

<ng-template #addTag>
    <ql-card>
        <ql-form ql-row gutter="24" class="ql-margin-top">
            <ql-form-item label="标签名称" ql-col span="12">
                <ql-input placeholder="请输入内容"></ql-input>
            </ql-form-item>
            <ql-form-item label="标签分类" ql-col span="12">
                <ql-select [clearable]="true">
                    <ql-option *ngFor="let item of tagCatesels" [label]="item.label" [value]="item.value"> </ql-option>
                </ql-select>
            </ql-form-item>
            <ql-form-item label="标签类型" ql-col span="12">
                <ql-select [clearable]="true">
                    <ql-option *ngFor="let item of tagTypesels" [label]="item.label" [value]="item.value"> </ql-option>
                </ql-select>
            </ql-form-item>
            <ql-form-item label="标签时间" ql-col span="12">
                <ql-date-picker></ql-date-picker>
            </ql-form-item>
            <ql-form-item ql-col span="24" class="ql-text-right">
                <ql-button type="primary" size="small">重置</ql-button>
                <ql-button type="primary" size="small" (click)="modal.close()">保存</ql-button>
            </ql-form-item>
        </ql-form>
    </ql-card>
</ng-template>

<!-- <ql-card>
    <ql-button-group>
        <ql-button type="primary" size="small" (click)="handle('1')">客户信息</ql-button>
        <ql-button type="primary" size="small" (click)="handle('2')">客户资产</ql-button>
        <ql-button type="primary" size="small" (click)="handle('3')">客户联络</ql-button>
        <ql-button type="primary" size="small" (click)="handle('4')">客户持有产品</ql-button>
        <ql-button type="primary" size="small" (click)="handle('5')">推荐产品</ql-button>
        <ql-button type="primary" size="small" (click)="handle('6')">客户信息采集</ql-button>
    </ql-button-group>
    <div class="detailcontent ql-padding">
        <div *ngIf="changeFlag == '1'">
            <div class="row wrapinfo">
                <div ql-col [span]="4">
                    <img class="imgcss" src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2882133088,2696092300&fm=26&gp=0.jpg" alt="" />
                    <p class="ql-text-center ql-margin-top ">四星客户</p>
                    <ql-rate class="ql-text-center" [model]="4" [max]="4" [qlDisabled]="true">
                    </ql-rate>
                </div>
                <div class="rightcss" ql-col [span]="20">
                    <h5>陈先（男士，38岁）</h5>
                    <h5>身份证号：612501199506065980</h5>
                    <p>
                        <ql-tag class="mr-3" type="primary">旅游达人</ql-tag>
                        <ql-tag class="mr-3" type="success">理财小白</ql-tag>
                        <ql-tag class="mr-3" type="warning">有房一族</ql-tag>
                        <ql-tag class="mr-3" type="danger">教育培训</ql-tag>
                        <ql-tag class="mr-3" type="primary">潜力价值客户</ql-tag>
                        <ql-tag class="mr-3" type="success">H5活动参与</ql-tag>
                    </p>
                    <div class="rightcss" ql-col [span]="7">
                        <span>客户经理：</span>
                        <span>孟萍</span>
                    </div>
                    <div class="rightcss" ql-col [span]="7">
                        <span>客户等级：</span>
                        <span>白金客户</span>
                    </div>
                    <div class="rightcss" ql-col [span]="10">
                        <span>客户分组：</span>
                        <span>金领旅游组</span>
                    </div>
                    <div class="rightcss" ql-col [span]="7">
                      <span>风险等级：</span>
                      <span>保守型</span>
                    </div>
                    <div class="rightcss" ql-col [span]="7">
                        <span>综合积分：</span>
                        <span>320分</span>
                    </div>
                    <div class="rightcss" ql-col [span]="7">
                      <span>资产余额：</span>
                      <span>100万</span>
                    </div>
                    <div class="rightcss" ql-col [span]="7">
                        <span>AUM：</span>
                        <span>3万</span>
                    </div>
                    <div class="rightcss" ql-col [span]="7">
                      <span>财富潜力值：</span>
                      <span>高</span>
                    </div>
                    <div class="rightcss" ql-col [span]="7">
                      <span>开户行：</span>
                      <span>中国建设银行</span>
                    </div>
                    <div class="rightcss" ql-col [span]="7">
                        <span>出生日期：</span>
                        <span>1989-06-20</span>
                    </div>
                    <div class="rightcss" ql-col [span]="7">
                        <span>手机：</span>
                        <span>18926777671</span>
                    </div>
                    <div class="rightcss" ql-col [span]="7">
                      <span>固定电话1：</span>
                      <span>029-88880000</span>
                    </div>
                  <div class="rightcss" ql-col [span]="7">
                    <span>固定电话2：</span>
                    <span>029-88880000</span>
                  </div>
                    <div class="rightcss" ql-col [span]="7">
                        <span>所属行业：</span>
                        <span>IT</span>
                    </div>
                    <div class="rightcss" ql-col [span]="10">
                        <span>邮箱：</span>
                        <span>18926777671@163.com</span>
                    </div>
                    <div class="rightcss" ql-col [span]="9">
                        <p>家庭住址：陕西省西安市莲湖区土门街道234号</p>
                    </div>
                  <div class="rightcss" ql-col [span]="9">
                    <p>工作住址：陕西省西安市莲湖区土门街道234号</p>
                  </div>
                    <div ql-col [span]="2"></div>
                </div>
            </div>
            <div class="row wrapinfo ql-padding">
                <div ql-col [span]="12">
                    <label for="">平均月收入：2.3万(中高)</label>
                </div>
                <div ql-col [span]="12">
                    <label for="">平均月支出：1.8万(中高)</label>
                </div>
            </div>
            <div class="wrapinfo ql-padding">
                <h4>家庭基本信息</h4>
                <label-container column="4" [border]="true" labelWidth="160">
                    <label-item label="家庭人口">4</label-item>
                    <label-item label="供养人数">2</label-item>
                    <label-item label="子女人数 ">2</label-item>
                    <label-item label="是否有未成年子女">是</label-item>
                    <label-item label="家庭总资产">300万</label-item>
                    <label-item label="家庭总负债">90万</label-item>
                    <label-item label="家庭对外担保总额">390万</label-item>
                    <label-item label="家庭年总收入">40万</label-item>
                    <label-item label="有无房产">有</label-item>
                    <label-item label="有无私家车">有</label-item>
                    <label-item label="主要经济来源">工资</label-item>
                    <label-item label="主要支出方向">生活消费</label-item>
                    <label-item label="家庭情况说明">家庭旅游</label-item>
                    <label-item label="我行家庭存款余额">60万</label-item>
                    <label-item label="我行家庭投资理财余额">10万</label-item>
                    <label-item label="我行家庭贷款余额">12万</label-item>
                    <label-item label="家庭可投资资产">15万</label-item>
                    <label-item label="可投资资产占家庭总比">15%</label-item>
                    <label-item label="活期存款占家庭总资产比">5%</label-item>
                    <label-item label="定期存款占家庭总资产比">8%</label-item>
                    <label-item label="国债占家庭总资产比">0</label-item>
                    <label-item label="理财占家庭总资产比">5%</label-item>
                    <label-item label="基金占家庭总资产比">10%</label-item>
                    <label-item label="保险占家庭总资产比">10%</label-item>
                    <label-item label="信托占家庭总资产比">0</label-item>
                    <label-item label="股票占家庭总资产比">0</label-item>
                </label-container>
            </div>
            <div class="wrapinfo ql-padding">
                <h4>营销活动记录</h4>
                <data-table [model]="marketList">
                    <ql-table-column model-key="marketName" label="营销活动名称"> </ql-table-column>
                    <ql-table-column model-key="time" label="营销活动时间"> </ql-table-column>
                    <ql-table-column model-key="result" label="营销结果"> </ql-table-column>
                </data-table>
            </div>
            <div class="wrapinfo ql-padding">
                <h4>产品到期提醒</h4>
                <data-table [model]="duetoProduct">
                    <ql-table-column model-key="productName" label="营销活动名称"> </ql-table-column>
                    <ql-table-column model-key="startdate" label="营销活动时间"> </ql-table-column>
                    <ql-table-column model-key="enddate" label="营销结果"> </ql-table-column>
                </data-table>
            </div>
            <div class="wrapinfo ql-padding">
                <h4>活动商圈</h4>
                <data-table [model]="shopsList">
                    <ql-table-column model-key="place" label="活动地点"> </ql-table-column>
                    <ql-table-column model-key="time" label="活动时间"> </ql-table-column>
                </data-table>
            </div>
            <div class="wrapinfo ql-padding">
                <h4>标签信息</h4>
                <div class="ql-margin-top ql-margin-bottom">
                    <ql-select [clearable]="true">
                        <ql-option *ngFor="let item of tagTypes" [label]="item.label" [value]="item.value"> </ql-option>
                    </ql-select>
                </div>
                <data-table [model]="tagInfoList">
                    <ql-table-column model-key="tagname" label="标签名称"> </ql-table-column>
                    <ql-table-column model-key="tagtype" label="标签类型"> </ql-table-column>
                    <ql-table-column model-key="tagtime" label="打标时间"> </ql-table-column>
                </data-table>
            </div>
            <div class="wrapinfo ql-padding">
                <h4>客户签约信息</h4>
                <p>手机银行、短信银行、微信银行、网上银行</p>
            </div>
        </div>
        <div class="rightcss" ql-col [span]="20">
          <h5>陈先(男士,38岁)</h5>
          <h5>身份证号:612501199506065980</h5>
          <p>
            <ql-tag class="mr-3" type="primary">旅游达人</ql-tag>
            <ql-tag class="mr-3" type="success">理财小白</ql-tag>
            <ql-tag class="mr-3" type="warning">有房一族</ql-tag>
            <ql-tag class="mr-3" type="danger">教育培训</ql-tag>
            <ql-tag class="mr-3" type="primary">潜力价值客户</ql-tag>
            <ql-tag class="mr-3" type="success">H5活动参与</ql-tag>
          </p>
          <div class="rightcss" ql-col [span]="7">
            <span>客户经理:</span>
            <span>孟萍</span>
          </div>
          <div class="rightcss" ql-col [span]="7">
            <span>客户等级:</span>
            <span>白金客户</span>
          </div>
          <div class="rightcss" ql-col [span]="10">
            <span>客户分组:</span>
            <span>金领旅游组</span>
          </div>
          <div class="rightcss" ql-col [span]="7">
            <span>综合积分:</span>
            <span>320分</span>
          </div>
          <div class="rightcss" ql-col [span]="7">
            <span>AUM:</span>
            <span>3万</span>
          </div>
          <div class="rightcss" ql-col [span]="10">
            <span>归属机构:</span>
            <span>中国建设银行</span>
          </div>
          <div class="rightcss" ql-col [span]="7">
            <span>出生日期:</span>
            <span>1989-06-20</span>
          </div>
          <div class="rightcss" ql-col [span]="7">
            <span>星座:</span>
            <span>巨蟹座</span>
          </div>
          <div class="rightcss" ql-col [span]="10">
            <span>财富潜力值:</span>
            <span>高</span>
          </div>
          <div class="rightcss" ql-col [span]="7">
            <span>电话:</span>
            <span>189-267-77671</span>
          </div>
          <div class="rightcss" ql-col [span]="7">
            <span>微信：</span>
            <span>ZStyi124</span>
          </div>
          <div class="rightcss" ql-col [span]="10">
            <span>邮箱：</span>
            <span>18926777671@163.com</span>
          </div>
          <div class="rightcss" ql-col [span]="7">
            <span>资产余额：</span>
            <span>100万</span>
          </div>
          <div class="rightcss" ql-col [span]="15">
            <p>家庭住址：陕西省西安市莲湖区土门街道234号</p>
          </div>
          <div ql-col [span]="2"></div>
        </div>
      </div>
      <div class="row wrapinfo ql-padding">
        <div ql-col [span]="12">
          <label for="">平均月收入：2.3万(中高)</label>
        </div>
        <div ql-col [span]="12">
          <label for="">平均月支出：1.8万(中高)</label>
        </div>
      </div>
      <div class="wrapinfo ql-padding">
        <h4>家庭基本信息</h4>
        <label-container column="4" [border]="true" labelWidth="160">
          <label-item label="家庭人口">4</label-item>
          <label-item label="供养人数">2</label-item>
          <label-item label="子女人数 ">2</label-item>
          <label-item label="是否有未成年子女">是</label-item>
          <label-item label="家庭总资产">300万</label-item>
          <label-item label="家庭总负债">90万</label-item>
          <label-item label="家庭对外担保总额">390万</label-item>
          <label-item label="家庭年总收入">40万</label-item>
          <label-item label="有无房产">有</label-item>
          <label-item label="有无私家车">有</label-item>
          <label-item label="主要经济来源">工资</label-item>
          <label-item label="主要支出方向">生活消费</label-item>
          <label-item label="家庭情况说明">家庭旅游</label-item>
          <label-item label="我行家庭存款余额">60万</label-item>
          <label-item label="我行家庭投资理财余额">10万</label-item>
          <label-item label="我行家庭贷款余额">12万</label-item>
          <label-item label="家庭可投资资产">15万</label-item>
          <label-item label="可投资资产占家庭总比">15%</label-item>
          <label-item label="活期存款占家庭总资产比">5%</label-item>
          <label-item label="定期存款占家庭总资产比">8%</label-item>
          <label-item label="国债占家庭总资产比">0</label-item>
          <label-item label="理财占家庭总资产比">5%</label-item>
          <label-item label="基金占家庭总资产比">10%</label-item>
          <label-item label="保险占家庭总资产比">10%</label-item>
          <label-item label="信托占家庭总资产比">0</label-item>
          <label-item label="股票占家庭总资产比">0</label-item>
        </label-container>
      </div>
      <div class="wrapinfo ql-padding">
        <h4>营销活动记录</h4>
        <data-table [model]="marketList">
          <ql-table-column model-key="marketName" label="营销活动名称"> </ql-table-column>
          <ql-table-column model-key="time" label="营销活动时间"> </ql-table-column>
          <ql-table-column model-key="result" label="营销结果"> </ql-table-column>
        </data-table>
      </div>
      <div class="wrapinfo ql-padding">
        <h4>产品到期提醒</h4>
        <data-table [model]="duetoProduct">
          <ql-table-column model-key="productName" label="营销活动名称"> </ql-table-column>
          <ql-table-column model-key="startdate" label="营销活动时间"> </ql-table-column>
          <ql-table-column model-key="enddate" label="营销结果"> </ql-table-column>
        </data-table>
      </div>
      <div class="wrapinfo ql-padding">
        <h4>活动商圈</h4>
        <data-table [model]="shopsList">
          <ql-table-column model-key="place" label="活动地点"> </ql-table-column>
          <ql-table-column model-key="time" label="活动时间"> </ql-table-column>
        </data-table>
      </div>
      <div class="wrapinfo ql-padding">
        <h4>标签信息</h4>
        <div class="ql-margin-top ql-margin-bottom">
          <ql-select [clearable]="true">
            <ql-option *ngFor="let item of tagTypes" [label]="item.label" [value]="item.value"> </ql-option>
          </ql-select>
        </div>
        <data-table [model]="tagInfoList">
          <ql-table-column model-key="tagname" label="标签名称"> </ql-table-column>
          <ql-table-column model-key="tagtype" label="标签类型"> </ql-table-column>
          <ql-table-column model-key="tagtime" label="打标时间"> </ql-table-column>
        </data-table>
      </div>
      <div class="wrapinfo ql-padding">
        <h4>客户签约信息</h4>
        <p>手机银行、短信银行、微信银行、网上银行</p>
      </div>
    </div>
    <div *ngIf="changeFlag == '2'">
      <div ql-col [span]="24" echarts [options]="options1"></div>
      <div class="customerassets">
        <ql-table [model]="tableDataMore" [border]="true" [stripe]="true">
          <ql-table-column model-key="financial" label="理财"></ql-table-column>
          <ql-table-column model-key="fund" label="基金"></ql-table-column>
          <ql-table-column model-key="bonds" label="国债"></ql-table-column>
          <ql-table-column model-key="insurance" label="保险"></ql-table-column>
          <ql-table-column model-key="deposit" label="人民币存款"></ql-table-column>
          <ql-table-column model-key="housing" label="住房类贷款"></ql-table-column>
          <ql-table-column model-key="loans" label="消费类贷款"></ql-table-column>
          <ql-table-column model-key="credit" label="信用卡"></ql-table-column>
          <ql-table-column model-key="debit" label="借记卡"></ql-table-column>
          <ql-table-column model-key="other" label="其他"></ql-table-column>
        </ql-table>
      </div>
      <div class="wrapinfo ql-padding">
        <h5>消费统计</h5>
        <label-container column="4" [border]="true">
          <label-item label="月消费金额">3万</label-item>
          <label-item label="比上月">-1%</label-item>
          <label-item label="年消费金额">45万</label-item>
          <label-item label="比去年">+3%</label-item>
        </label-container>
      </div>
      <div class="wrapinfo ql-padding">
        <div class="wrapinfo ql-padding">
          <h5>交易记录</h5>
          <div class="ql-margin-top ql-margin-bottom">
            <ql-select [clearable]="true">
              <ql-option *ngFor="let item of tradTypes" [label]="item.label" [value]="item.value"> </ql-option>
            </ql-select>
          </div>
          <data-table [model]="tradList">
            <ql-table-column model-key="tradname" label="交易类型"> </ql-table-column>
            <ql-table-column model-key="tradtype" label="交易类型"> </ql-table-column>
            <ql-table-column model-key="tradtime" label="交易时间"> </ql-table-column>
            <ql-table-column model-key="tradaccount" label="交易账户"> </ql-table-column>
          </data-table>
        </div>
      </div>
    </div>
    <div *ngIf="changeFlag == '3'" style="height: 400px;overflow-y: auto;">
      <data-table [model]="contactData">
        <ql-table-column model-key="bussiness" label="业务" width="105"> </ql-table-column>
        <ql-table-column model-key="chandel" label="办理渠道"> </ql-table-column>
        <ql-table-column model-key="time" label="办理时间" width="150"> </ql-table-column>
      </data-table>
    </div>
    <div *ngIf="changeFlag == '4'">
      <h4>活期存款</h4>
      <label-container column="4" [border]="true">
        <label-item label="账号">78273221</label-item>
        <label-item label="账户状态">正常</label-item>
        <label-item label="币种">人民币</label-item>
        <label-item label="本金">20万</label-item>
      </label-container>
      <h4>定期存款</h4>
      <label-container column="4" [border]="true">
        <label-item label="账号">78273221</label-item>
        <label-item label="账户状态">正常</label-item>
        <label-item label="币种">人民币</label-item>
        <label-item label="本金">30万</label-item>
      </label-container>
      <div class="customerassets ql-margin-top ql-padding">
        <data-form [showReset]="false" [formGroup]="formGroup">
          <ql-form-item label="产品类型">
            <ql-select [(model)]="valuetype" [clearable]="true">
              <ql-option *ngFor="let item of prductType" [label]="item.label" [value]="item.value"> </ql-option>
            </ql-select>
          </ql-form-item>
          <ql-form-item label="产品代码">
            <ql-input></ql-input>
          </ql-form-item>
          <ql-form-item label="产品名称">
            <ql-input></ql-input>
          </ql-form-item>
          <ql-form-item label="客户电话">
            <ql-input></ql-input>
          </ql-form-item>
          <ql-form-item label="产品持有金额范围">
            <ql-select [(model)]="valuecate" [clearable]="true">
              <ql-option *ngFor="let item of category" [label]="item.label" [value]="item.value"> </ql-option>
            </ql-select>
          </ql-form-item>
          <ql-form-item label="日期">
            <ql-date-picker> </ql-date-picker>
          </ql-form-item>
        </data-form>
        <data-table [model]="customertabledata" [selection]="true">
          <ql-table-column model-key="code" [render-html]="true" label="客户号"></ql-table-column>
          <ql-table-column model-key="name" [render-html]="true" label="姓名" width="70"></ql-table-column>
          <ql-table-column model-key="level" [render-html]="true" label="客户等级"></ql-table-column>
          <ql-table-column model-key="age" [render-html]="true" label="年龄" width="60"></ql-table-column>
          <ql-table-column model-key="sex" [render-html]="true" label="性别" width="60"></ql-table-column>
          <ql-table-column model-key="tel" [render-html]="true" label="手机号"></ql-table-column>
          <ql-table-column model-key="producttype" [render-html]="true" label="产品类型" width="85"></ql-table-column>
          <ql-table-column model-key="productcode" [render-html]="true" label="产品代码"></ql-table-column>
          <ql-table-column model-key="productown" [render-html]="true" label="持有产品额"></ql-table-column>
          <ql-table-column model-key="aum" [render-html]="true" label="AUM" width="80"></ql-table-column>
          <ql-table-column model-key="balance" [render-html]="true" label="资产余额" width="85"></ql-table-column>
        </data-table>
        <div class="btncss">
          <ql-button size="small" type="primary">拨打电话</ql-button>
          <ql-button size="small" type="success">发送短信</ql-button>
          <ql-button size="small" type="info">发现邮件</ql-button>
        </div>
      </div>
    </div>
    <div *ngIf="changeFlag == '5'">
      <div class="row ql-padding ql-margin-top" *ngFor="let item of tjcpdata" style="border: 1px solid gainsboro;">
        <div ql-col span="5">
          <h5>{{ item.name }}</h5>
        </div>
        <div ql-col span="7">
          <p class="lccpcss">
            产品代码：<span style="color:blue">{{ item.code }}</span>
          </p>
          <p class="lccpcss">
            风险等级：<span style="color: red;">{{ item.level }}</span>
          </p>
          <p class="lccpcss">预期收益率：{{ item.profit }}</p>
          <p class="lccpcss">销售渠道：{{ item.kandel }}</p>
        </div>
        <div ql-col span="7">
          <p class="lccpcss">发售起始日期：{{ item.star }}</p>
          <p class="lccpcss">发售截至日期：{{ item.end }}</p>
          <p class="lccpcss">产品周期：{{ item.cycle }}</p>
          <p class="lccpcss" style="color: blue;">{{ item.decsrible }}</p>
        </div>
        <div ql-col span="5">
          <ql-button type="primary" size="small">详情</ql-button>
        </div>
      </div>
    </div>
</ql-card> -->
