.topquery {
    margin-bottom: 3%;
    padding: 1%;
    border-bottom: 1px solid gainsboro;
}

.wrapinfo {
    border-bottom: 1px solid gainsboro;
}

.ql-dialog__body {
    padding: 5px 20px !important;
}

.ql-dialog__body {
    padding: 5px 20px;
    color: #5a5e66;
    line-height: 24px;
    font-size: 14px;
    color: red !important;
}

.imgcss {
    width: 100%;
    border-radius: 50%
}

.rightcss {
    padding: 2%;
    text-align: left !important;
}

.littlefont {
    display: inline-block;
    color: #357ee2;
    width: 80px;
    /* text-align: center; */
}

.btncss {
    margin-top: 3%;
}

.btncss>ql-button {
    margin-right: 2%;
}

.detailcontent {
    border: 1px solid gainsboro;
}

.lccpcss {
    line-height: 30px !important;
}

.customerassets {
    border: 1px solid gainsboro;
}
