<page-header title="权益管理" [breadcrumb]="breadcrumb" [action]="action" [back]="true">
  <ng-template #breadcrumb>
    <ql-breadcrumb>
      <ql-breadcrumb-item>事件管理</ql-breadcrumb-item>
      <ql-breadcrumb-item>新增事件</ql-breadcrumb-item>
    </ql-breadcrumb>
  </ng-template>
  <ng-template #action>
    <ql-button type="primary">提交</ql-button>
  </ng-template>
</page-header>
<page-container>
<!--  <ql-card header="新增权益">-->
<!--    <ql-form label-width="120px" ql-row>-->

<!--      <ql-form-item ql-col span="12" label="权益类型">-->
<!--        <ql-select placeholder="请选择">-->
<!--          <ql-option *ngFor="let item of equitiesTypes"-->
<!--                     [label]="item.key"-->
<!--                     [value]="item.value">-->
<!--          </ql-option>-->
<!--        </ql-select>-->
<!--      </ql-form-item>-->


<!--      <ql-form-item ql-col span="12" label="权益名称" >-->
<!--        <ql-input></ql-input>-->
<!--      </ql-form-item>-->
<!--      &lt;!&ndash;      <ql-form-item ql-col span="12" label="权益名称">&ndash;&gt;-->
<!--      &lt;!&ndash;        <ql-input></ql-input>&ndash;&gt;-->
<!--      &lt;!&ndash;      </ql-form-item>&ndash;&gt;-->

<!--      <ql-form-item ql-col span="12" label="核销方式">-->
<!--        <ql-select placeholder="请选择">-->
<!--          <ql-option *ngFor="let item of chargeOffType"-->
<!--                     [label]="item.key"-->
<!--                     [value]="item.value">-->
<!--          </ql-option>-->
<!--        </ql-select>-->
<!--      </ql-form-item>-->

<!--      <ql-form-item ql-col span="12" label="提供服务商">-->
<!--        <ql-select placeholder="请选择">-->
<!--          <ql-option *ngFor="let item of provideCompany"-->
<!--                     [label]="item.key"-->
<!--                     [value]="item.value">-->
<!--          </ql-option>-->
<!--        </ql-select>-->
<!--      </ql-form-item>-->

<!--      <ql-form-item ql-col span="12" label="权益总数量">-->
<!--        <ql-input></ql-input>-->
<!--      </ql-form-item>-->

<!--      <ql-form-item ql-col span="12" label="到期时间">-->
<!--        <ql-date-picker></ql-date-picker>-->
<!--      </ql-form-item>-->

<!--      <ql-form-item  ql-col span="24" label="权益描述">-->
<!--        <ql-input type="textarea" [autosize]="{ minRows: 6, maxRows: 12 }"></ql-input>-->
<!--      </ql-form-item>-->

<!--      <ql-form-item ql-col span="12" label="适用范围">-->
<!--        <ql-select></ql-select>-->
<!--      </ql-form-item>-->
<!--      <ql-form-item ql-col span="12" label="权益特征">-->
<!--        <ql-select placeholder="请选择"></ql-select>-->
<!--      </ql-form-item>-->

<!--&lt;!&ndash;      <ql-form-item ql-col span="12" label="兑换码上传">&ndash;&gt;-->
<!--&lt;!&ndash;        <ql-upload [upload-filter]="limit1024.bind(this)">&ndash;&gt;-->
<!--&lt;!&ndash;          <ng-template #trigger>&ndash;&gt;-->
<!--&lt;!&ndash;            <ql-button size="small" type="primary">上传文件</ql-button>&ndash;&gt;-->
<!--&lt;!&ndash;          </ng-template>&ndash;&gt;-->
<!--&lt;!&ndash;          &lt;!&ndash;          <ng-template #tip>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;          &lt;!&ndash;            <div class="el-upload__tip">文件不能超过1024kb</div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;          &lt;!&ndash;          </ng-template>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        </ql-upload>&ndash;&gt;-->

<!--&lt;!&ndash;      </ql-form-item>&ndash;&gt;-->

<!--      <ql-form-item ql-col span="12" label="支持客户级别">-->
<!--        <ql-select placeholder="请选择"></ql-select>-->
<!--      </ql-form-item>-->

<!--      <ql-form-item ql-col span="12" label="支持卡片性质">-->
<!--        <ql-select></ql-select>-->
<!--      </ql-form-item>-->

<!--      <ql-form-item ql-col span="12" label="支持渠道方式">-->
<!--        <ql-select placeholder="请选择"></ql-select>-->
<!--      </ql-form-item>-->
<!--    </ql-form>-->
<!--  </ql-card>-->
</page-container>

