:host ::ng-deep {
  .page-header {
    min-height: 60px;
    background: #fff;
    margin-bottom: 24px;
    padding: 12px 24px 0;
    border-bottom: 1px solid #efe3e5;
  }

  .page-header__detail {
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .page-header__title {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.85);
  }

  .page-header__action {
    $element-height: 35px;

    .ql-button {
      height: $element-height;
      padding: 0;
      min-width: 75px;
      padding: 0 10px;

      &.ql-button--primary {
        background-color: #859ec2;
        border-color: #859ec2;
      }
    }

    .page-header__group {
      margin-right: 30px;

      .ql-button-group {
        vertical-align: middle;
      }
      .ql-button {
        vertical-align: middle;
      }
      & > * {
        & + * {
          margin-left: 15px;
        }
      }
    }
  }
}
