:host::ng-deep {
  .ql-tree-node__label {
    font-size: 16px;
  }
}

.tag-card {
  height: 200px;
}

.cloud-image {
  background-image: url('../../../assets/images/image2.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}
