:host::ng-deep {
  .ql-tree-node__label {
    font-size: 16px;
  }
}

.tag-card {
  height: 100px;
}

.cloud-image {
  background-image: url('../../../assets/images/image01.png');
  background-size: 100% auto;
}
