<page-header title="关注产品" [breadcrumb]="breadcrumb">
    <ng-template #breadcrumb>
        <ql-breadcrumb>
            <ql-breadcrumb-item>产品管理</ql-breadcrumb-item>
            <ql-breadcrumb-item>关注产品</ql-breadcrumb-item>
        </ql-breadcrumb>
    </ng-template>
</page-header>

<page-container>
    <data-form label-width="100px">
        <ql-form-item label="产品名称">
            <ql-input></ql-input>
        </ql-form-item>
        <ql-form-item label="产品代码">
            <ql-input></ql-input>
        </ql-form-item>
        <ql-form-item label="产品类别">
            <ql-select>
                <ql-option *ngFor="let item of productTypes" [label]="item.label" [value]="item.value"> </ql-option>
            </ql-select>
        </ql-form-item>
        <ql-form-item label="推荐等级">
            <ql-select>
                <ql-option *ngFor="let item of []" [label]="item.label" [value]="item.value"> </ql-option>
            </ql-select>
        </ql-form-item>
    </data-form>
    <data-table [model]="attentionList">
        <ql-table-column model-key="productName" label="产品名称"></ql-table-column>
        <ql-table-column model-key="productCode" label="产品代码"></ql-table-column>
        <ql-table-column model-key="productType" label="产品类别"></ql-table-column>
        <ql-table-column model-key="riskLevel" label="风险等级"></ql-table-column>
        <ql-table-column model-key="recommandTyep" label="推荐类别"></ql-table-column>
        <ql-table-column model-key="endTime" label="停售时间"></ql-table-column>
        <ql-table-column model-key="productRate" label="产品利率"></ql-table-column>
        <ql-table-column label="操作" width="250px">
            <ng-template #slot let-scope="scope">
                <ql-button type="text">移除</ql-button>
                <ql-button type="text">置顶</ql-button>
                <ql-button type="text">分享</ql-button>
                <ql-button type="text" [routerLink]="['/product/product-detail']">查看详情</ql-button>
            </ng-template>
        </ql-table-column>
    </data-table>
</page-container>
