
  <a class="dashboard-stat bg-white1" >
    <span class="date1" style="color: #878d99">{{circlechartData1.startDate}}-{{circlechartData1.endDate}}</span>
    <span class="number1"><p style="font-size:0.4em;color: #878d99">今日</p>{{circlechartData1.amount}} <span style="font-size: 0.4em;color: #878d99">人</span></span>
    <div class="">
      <span class="name1" style="color: #878d99;">环比<span style="color:#e74c3c;"><em class="fa fa-arrow-up"></em>{{circlechartData1.huanRatio}}%</span>
        同比<span style="color:#e74c3c;"><em class="fa fa-arrow-up"></em>{{circlechartData1.tongRatio}}%</span></span>

    </div>
    <div class="">
      <span class="name1" style="font-size: 0.7em!important;margin-top: 5px;font-weight: bold;">营销活动覆盖客户数</span>

    </div>
  </a>
