<page-header title="添加算法" [breadcrumb]="breadcrumb" [action]="action" [action-group]="false" [back]="true">
  <ng-template #breadcrumb>
    <ql-breadcrumb separator="/">
      <ql-breadcrumb-item>算法</ql-breadcrumb-item>
      <ql-breadcrumb-item to="/algo/algo-list">算法列表</ql-breadcrumb-item>
      <ql-breadcrumb-item>添加算法</ql-breadcrumb-item>
    </ql-breadcrumb>
  </ng-template>
  <ng-template #action>
    <ql-button type="primary" *ngIf="current !== 0" (click)="previouStep()">上一步</ql-button>
    <ql-button type="primary" *ngIf="current !== 2" (click)="nextStep()">下一步</ql-button>
    <ql-button type="primary" *ngIf="current === 2" (click)="onSubmit()">提交</ql-button>
  </ng-template>
</page-header>

<page-container>
  <ql-steps [active]="current" [finish-status]="'success'">
    <ql-step title="算法文件"></ql-step>
    <ql-step title="算法信息"></ql-step>
    <ql-step title="算法参数"></ql-step>
  </ql-steps>
  <ng-template #container></ng-template>
</page-container>
