<page-header title="创建标签" [breadcrumb]="breadcrumb" [action]="action" [action-group]="false" [back]="true">
  <ng-template #breadcrumb>
    <ql-breadcrumb separator="/">
      <ql-breadcrumb-item>客户管理</ql-breadcrumb-item>
      <ql-breadcrumb-item>客户标签</ql-breadcrumb-item>
      <ql-breadcrumb-item>创建标签</ql-breadcrumb-item>
    </ql-breadcrumb>
  </ng-template>
  <ng-template #action>
    <ql-button type="primary" *ngIf="current !== 0" (click)="previouStep()">上一步</ql-button>
    <ql-button type="primary" *ngIf="current !== 2" (click)="nextStep()">下一步</ql-button>
    <ql-button type="primary" *ngIf="current === 2" (click)="onSubmit()">提交</ql-button>
  </ng-template>
</page-header>

<page-container>
  <ql-steps [active]="current" [finish-status]="'success'">
    <ql-step title="客户属性"></ql-step>
    <ql-step title="分类属性"></ql-step>
    <ql-step title="管理属性"></ql-step>
  </ql-steps>
  <ng-template #container></ng-template>
</page-container>
