<page-header title="" [breadcrumb]="breadcrumb">
    <ng-template #breadcrumb>
        <ql-breadcrumb>
            <ql-breadcrumb-item to="/customer/customer-list">客户管理</ql-breadcrumb-item>
            <ql-breadcrumb-item to="/customer/customer-level">客户等级变动</ql-breadcrumb-item>
            <ql-breadcrumb-item to="/customer/customer-assets">客户资产变动</ql-breadcrumb-item>
            <ql-breadcrumb-item>我的客户</ql-breadcrumb-item>
        </ql-breadcrumb>
    </ng-template>
</page-header>

<ql-card>
    <div style="margin-bottom: 1.5%;">
        <label>时间段选择</label>
        <ql-select [(model)]="value" [clearable]="true ">
            <ql-option *ngFor="let item of seltimes" [label]="item.label " [value]="item.value ">
            </ql-option>
        </ql-select>
    </div>
    <div style="margin-bottom: 2%;">
        <ql-table [model]="customerType" [border]="true" [stripe]="true">
            <ql-table-column model-key="ctnum" [render-html]="true" label="总客户数"></ql-table-column>
            <ql-table-column model-key="ctup" [render-html]="true" label="升级客户"></ql-table-column>
            <ql-table-column model-key="ctdown" [render-html]="true" label="降级客户"></ql-table-column>
            <ql-table-column model-key="ctwealth" [render-html]="true" label="财富管理客户"></ql-table-column>
            <ql-table-column model-key="ctbank" [render-html]="true" label="私人银行客户"></ql-table-column>
            <ql-table-column model-key="ctplatinum" [render-html]="true" label="白金卡客户"></ql-table-column>
            <ql-table-column model-key="ctgold" [render-html]="true" label="金卡客户"></ql-table-column>
            <ql-table-column model-key="ctpotential" [render-html]="true" label="潜力客户"></ql-table-column>
            <ql-table-column model-key="ctordinary" [render-html]="true" label="普通客户"></ql-table-column>
        </ql-table>
    </div>
    <ql-table [model]="customerlevels" [border]="true" [stripe]="true">
        <ql-table-column label="选择" width="60">
            <ng-template #slot let-scope="scope">
                <ql-checkbox [model]="val"></ql-checkbox>
            </ng-template>
        </ql-table-column>
        <ql-table-column model-key="code" [render-html]="true" label="客户号" width="80"></ql-table-column>
        <ql-table-column model-key="name" [render-html]="true" label="姓名" width="70"></ql-table-column>
        <ql-table-column model-key="nowlevel" [render-html]="true" label="目前等级"></ql-table-column>
        <ql-table-column model-key="beforelevel" [render-html]="true" label="原等级"></ql-table-column>
        <ql-table-column model-key="sex" [render-html]="true" label="性别" width="60"></ql-table-column>
        <ql-table-column model-key="age" [render-html]="true" label="年龄" width="60"></ql-table-column>
        <ql-table-column model-key="tel" [render-html]="true" label="电话"></ql-table-column>
        <ql-table-column model-key="aum" [render-html]="true" label="AUM" width="70"></ql-table-column>
        <ql-table-column model-key="zcye" [render-html]="true" label="资产余额" width="80"></ql-table-column>
        <ql-table-column model-key="nljbd" [render-html]="true" label="年累计资产变动"></ql-table-column>
        <ql-table-column model-key="cpsl" [render-html]="true" label="持产品数" width="85"></ql-table-column>
        <ql-table-column model-key="khsj" [render-html]="true" label="开户时间" width="95"></ql-table-column>
    </ql-table>
    <div class="btncss">
        <ql-button size="small" type="primary">拨打电话</ql-button>
        <ql-button size="small" type="success">发送短信</ql-button>
        <ql-button size="small" type="info">发现邮件</ql-button>
    </div>
</ql-card>