<page-header title="活动审批" [breadcrumb]="breadcrumb" [action]="action">
    <ng-template #breadcrumb>
        <ql-breadcrumb>
            <ql-breadcrumb-item>营销管理</ql-breadcrumb-item>
            <ql-breadcrumb-item>活动审批</ql-breadcrumb-item>
        </ql-breadcrumb>
    </ng-template>
    <ng-template #action>
        <ql-button type="primary" (click)="actiityStatis()">活动统计</ql-button>
    </ng-template>
</page-header>

<page-container>
    <data-table [model]="activityList">
        <ql-table-column model-key="name" label="营销活动名称"></ql-table-column>
        <ql-table-column model-key="startTime" label="活动开始时间"></ql-table-column>
        <ql-table-column model-key="endTime" label="活动结束时间"></ql-table-column>
        <ql-table-column model-key="creator" label="营销发起人"></ql-table-column>
        <ql-table-column model-key="organization" label="发起机构"></ql-table-column>
        <ql-table-column model-key="status" label="营销活动状态"></ql-table-column>
        <ql-table-column label="操作" width="250px">
            <ng-template #slot let-scope="scope">
                <ql-button type="text" [routerLink]="['/marketing/approval-detail']">查看详情</ql-button>
                <ql-button type="text">确认执行</ql-button>
                <ql-button type="text">驳回活动</ql-button>
            </ng-template>
        </ql-table-column>
    </data-table>

    <ng-template #statistlook>
        <label-container column="2" [border]="true" labelWidth="190">
            <label-item label="营销活动总数量">189</label-item>
            <label-item label="已经执行营销活动机构分布"></label-item>
            <label-item label="延期的营销活动数量">15</label-item>
            <label-item label="待办审批营销工作的数量">39</label-item>
        </label-container>
        <label-container column="1" [border]="true" labelWidth="190">
            <label-item label="已经执行营销活动渠道分布">APP网银、柜面、微信、APP</label-item>
        </label-container>
    </ng-template>
</page-container>
