<page-header title="活动审批" [breadcrumb]="breadcrumb">
  <ng-template #breadcrumb>
    <ql-breadcrumb>
      <ql-breadcrumb-item>营销管理</ql-breadcrumb-item>
      <ql-breadcrumb-item>活动审批</ql-breadcrumb-item>
    </ql-breadcrumb>
  </ng-template>
</page-header>

<page-container>
  <data-table [model]="activityList">
    <ql-table-column model-key="name" label="营销活动名称"></ql-table-column>
    <ql-table-column model-key="startTime" label="活动开始时间"></ql-table-column>
    <ql-table-column model-key="endTime" label="活动结束时间"></ql-table-column>
    <ql-table-column model-key="creator" label="营销发起人"></ql-table-column>
    <ql-table-column model-key="organization" label="发起机构"></ql-table-column>
    <ql-table-column model-key="status" label="营销活动状态"></ql-table-column>
    <ql-table-column label="操作" width="250px">
      <ng-template #slot let-scope="scope">
        <ql-button type="text">查看详情</ql-button>
        <ql-button type="text">确认执行</ql-button>
        <ql-button type="text">驳回活动</ql-button>
      </ng-template>
    </ql-table-column>
  </data-table>
</page-container>
