@import "~fullcalendar/dist/fullcalendar.min.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

p {
  margin: 0;
}

.ql-table th,
.ql-table td {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

a {
  //color: #4fb5dd !important;
  text-decoration: none;
  cursor: pointer;
}

.ql-table__body-wrapper {
  overflow-x: auto !important;
}

.ql-table__header-wrapper.ql-table__header-scroll {
  overflow-x: hidden !important;
}

ql-form-item {
  text-align: left;
}

.formio-dialog.formio-dialog-theme-default.component-settings {
  z-index: 100000;
}

.ql-menu--horizontal > .ql-menu-item.is-active,
.ql-menu--horizontal > .ql-submenu.is-active .ql-submenu__title {
  border-bottom-color: #357ee2 !important;
}

.ql-table.ql-table--enable-row-transition {
  margin: auto;
}
